
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='week4index.css') }}">
    <title>第一階第四周</title>
</head>
<body>
    <header>
        <div>
            <h1>歡迎光臨，這是會員頁</h1>
        </div>
    </header>
    <second>
      
        <h2>恭喜您，登入成功</h2>
     
        <form action="/signout" method="get"> 
            <input type=submit value="登出">
        </form>
    
    </second>
</body>
</html>
