<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <title>Error</title>
</head>
<body>
    <header>
        <div>
            <h1>失敗頁面</h1>
        </div>
    </header>
    <second>
      
        <h2> {{error_message}}</h2>
        
      
        <form action="/"> 
            <input type=submit value="首頁">
        </form>

    
    </second>
</body>
</html>
