<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='index.css') }}" />
    <script src="{{ url_for('static', filename='js/member.js') }}" type="text/javascript" ></script> 

    <title>Member</title>
</head>
<body>
    <header>
        <h1>歡迎光臨，這是會員首頁</h1>
    </header>
    <second>
        <h2>{{name}}，歡迎登入系統</h2>

        <div>
            <a href="/singout" method="GET"  >登出系統</a> </p>
        
    
     
            <input id="username" name = "username">
            <button id ="btn" onclick="select_click()" > 搜尋 </button></p>
            <h3 id="showname" ></h3>
            <h2>更新我的姓名</h2>
            <input id="updataname" name = "updataname">
            <button id ="btn" onclick="update_click()" > 更新 </button></p>
            <h3 id="showupdate" ></h3>
       </div>
    </second>
</body>
</html>
