* reset */
body, h1, ul { margin: 0px; }

* { box-sizing: border-box; }
body{
  margin: 0px;
}
ul {
  list-style: none; 
  
  float: right;
  
}

a {
  text-decoration: none;
}

/* NavBar */
nav {
  background:white;
  margin: 15px 5px 0px;
 
}
h1 { /* Logo */
  float: left;
  margin-top: 0px;
  
}
input {
  display: none;
}
nav::after {
    content: "";
    display: block;
    clear: both;
  }
  label {
    float: right;
    margin-top: 0px;
  }
img{
  width: 30px;
  vertical-align: middle;
}
.menu {
  clear: both;
  
}
li {
  text-align: right;
 
}
a {
  display: block;
  padding: 5px;
  color:black;
}

.menu {
  max-height: 0;
  overflow: hidden;
  margin-top: 0px;
}
input:checked ~ .menu {
  max-height: 300px;
}
.menu {
  max-height: 0;
  overflow: hidden;
 transition: .5s; /* 動畫秒數 */
  margin-top: 0px;
}

.second{
  background-color:powderblue;
  height:300px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;

  }
  .secondh1{
  text-align: center;
  }
  .thirdout{
    margin-top: 20px;
    display: flex;
    width: auto;
    
    justify-content: center;
  }
  .third{
      width: 1200px;
      display: flex;
      text-align: center;
      flex-wrap:wrap;
  }
  .allimg{
      flex: auto;
      background-color: powderblue;
      margin: 25px;
  }
  
  .allimg > img {
      width: 250PX;
  }
  
  p{
      
      margin: 5px;
  }
  @media only screen and (max-width:1213px){
    .third{
        width: 90%;
       
    }
    .allimg{
    
     width: 40%;
    }
    .allimg > img{
        width: 100%;
    }
}
  @media screen and (min-width: 601px) {
    label {
      display: none;
    }
    .menu {
      float: right;
      clear: none;
      max-height: 50px;    
     
    }
    .menu > li {
        display: inline-block;
    }
    .menu >  a {
        padding: 0 15px;  
    }
  
 
  }
  @media only screen and (max-width:601px){
    .third{
        width: 90%;
       
    }
    .allimg{
    
     width: 90%;
    }
    .allimg > img{
        width: 100%;
    }
    h1{
      margin-bottom: 0px;
    }

}
